<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
        <a routerLink="home">
            <img class="Logo" src="assets\Photos\Orange Black Circle Badge Illustration Restaurant Logo.png">
        </a>
        <a class="navbar-brand">Restaurant</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="home"><i class="fa-solid fa-house"></i>
                        Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="items">Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="aboutus">AboutUs</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="table"> TableBooking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="cart"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
                </li>
                <li class="nav-item" [class.disable]="loginStatus">
                    <a class="nav-link" routerLink="login"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                </li>
                <li class="nav-item" [class.disable]="!loginStatus">
                    <a class="nav-link" routerLink="logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>