/* Navbar link hover effect */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: +1;
    background-color:darkgrey /* Ensure the navbar appears above other content */
}
.navbar-nav .nav-link:hover {
    color: #007bff; /* Change to your preferred hover color */
}

/* Navbar item underline */
.navbar-nav .nav-item {
    position: relative;
}

.navbar-nav .nav-item::after {
    content: '';
    position: absolute;
    bottom: -3px; /* Adjust this value to change the position of the line */
    left: 0;
    width: 0;
    height: 2px; /* Adjust this value to change the thickness of the line */
    background-color: #007bff; /* Change to your preferred line color */
    transition: width 0.3s ease;
}

.navbar-nav .nav-item:hover::after,
.navbar-nav .nav-item.active::after {
    width: 100%;
}

/* for restaurant logo */
.Logo{
    height:40px;
    width: 40px;
    border-radius: 80%;
    box-shadow: black 2px 2px;
    float: left;
    margin-right: 20px;
    transition: width 0.3s ease;
}


.disable {
    display: none; /* Hide the element */
}

