<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Booking Form</title>
    <style>
        body {
            background-image: url("/../assets/Photos/restaurant-5521372_1280.jpg");
            background-size: cover;
            background-position: center;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 150vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            position: relative;
            backdrop-filter: blur(8px);
            background-color: rgba(255, 255, 255, 0.105); /* Transparent background color */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            max-width: 400px;
            margin: auto;
            margin-top: 15vh;
        }

        form {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            max-width: 400px;
            width: 100%;
        }

        h2 {
            text-align: center;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="date"],
        input[type="time"],
        input[type="number"],
        button {
            width: calc(100% - 22px);
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
 
       
        <form (submit)="submitBookingForm()" class="container">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Enter Name" name="name" [(ngModel)]="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Enter Email" name="email" [(ngModel)]="email" required>

            <label for="phone">Phone:</label>
            <input type="tel" id="phone" placeholder="Enter Phone" name="phone" [(ngModel)]="phone" required>

            <label for="date">Date:</label>
            <input type="date" id="date" name="date" [(ngModel)]="date" required>

            <label for="time">Time:</label>
            <input type="time" id="time" name="time" [(ngModel)]="time" required>

            <label for="guests">Number of Guests:</label>
            <input type="number" id="guests" name="guests" min="1" [(ngModel)]="guests" required>

            <button type="submit">Book Table</button>
        </form>
  
</body>

</html>
