<div class="bg">

<div class="product-container">

  <section>
    <h2>Coffee</h2>
    <div class="product">
      <a class="coffee-link" routerLink="/coffee" (click)="addToCart('Coffee')">
        <img src="assets/coffee.png" alt="Coffee 1" class="round-image"></a>
    </div>
  </section>

  <section>
    <h2>Desserts</h2>
    <div class="product">
      <a class="desserts-link" routerLink="/desserts" (click)="addToCart('Desserts')">
        <img src="assets/cake.jpg" alt="Dessert 1" class="round-image"></a>
    </div>
  </section>

  <section>
    <h2>Snacks</h2>
    <div class="product">
      <a class="snacks-link" routerLink="/snacks" (click)="addToCart('Snacks')">
        <img src="assets/foodd.jpg" alt="Food 1" class="round-image"></a>

    </div>
  </section>

  <section>
    <h2>Mocktails</h2>
    <div class="product">
      <a class="mocktails-link" routerLink="/mocktails" (click)="addToCart('Mocktails')">
        <img src="assets/drinks.webp" alt="Food 1" class="round-image"></a>
    </div>
  </section>

  <section>
    <h2>Food</h2>
    <div class="product">
      <a class="food-link" routerLink="/food" (click)="addToCart('Food')">
        <img src="assets/snacks.jpg" alt="Food 1" class="round-image"></a>
    </div>
  </section>
</div>





<footer class="bg-light text-center text-white">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <!-- Social media icons container -->
      <div class="social-media-icons">
        <!-- Facebook -->
        <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/campaign/landing.php?campaign_id=14884913640&extra_1=s%7Cc%7C589460569897%7Cb%7Cfacebook%20log%20in%7C&placement=&creative=589460569897&keyword=facebook%20log%20in&partner_id=googlesem&extra_2=campaignid%3D14884913640%26adgroupid%3D128696221912%26matchtype%3Db%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-1409266755%26loc_physical_ms%3D9062136%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=CjwKCAiAibeuBhAAEiwAiXBoJPRQqM3AgTtZUSGdsHRSWC0XOW592rJXS_BXPZ7eE8DohvABtx8vgRoCO2UQAvD_BwE" role="button"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="https://twitter.com/i/flow/login" role="button"><i class="fab fa-twitter"></i></a>

        <!-- Instagram -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <span class="instagram">
          <span class="fa fa-instagram"></span>
        </span>
        <!-- Linkedin -->
        <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/feed/" role="button"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <!-- End Social media icons container -->
    </section>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(17, 16, 16, 0.2);">
    <p class="text-black">© 2020 Copyright:</p>
    <a class="text-black">24/7Foodie Restaurant</a>
  </div>
  <!-- Copyright -->
</footer>
</div>