/* Reset some default styles */
body, h1, h2, p, img, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a basic layout */
body {
    font-family: 'Arial', sans-serif;
}

.desserts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    width: 300px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.product-details {
    padding: 15px;
}

.product h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    color: #2ecc71;
}

.add-to-cart,
.buy-item {
    display: inline-block;
    width: calc(50% - 5px);
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart {
    background-color: #09a12f;
}

.buy-item {
    background-color: #e74c3c;
}

.add-to-cart:hover,
.buy-item:hover {
    background-color: #2980b9;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .desserts-list {
        padding: 10px;
    }

    .product {
        width: calc(50% - 20px);
    }

    .add-to-cart,
    .buy-item {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .product {
        width: 100%;
    }
}


.success-message {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    display: inline-block;
  }
