<section class="desserts-list">
    <div class="product" *ngFor="let dessert of desserts">
        <img src="{{ dessert.image }}" alt="{{ dessert.name }}">
        <div class="product-details">
            <h2>{{ dessert.name }}</h2>
            <p class="description">{{ dessert.description }}</p>
            <p class="price">{{ dessert.price | currency:'INR':true }}</p>
            <button class="add-to-cart" (click)="addToCart(dessert)" >Add to Cart</button>
            
        </div>
    </div>
    <div *ngIf="showSuccessMessage" class="success-message">
        Added to cart successfully!
      </div>
  </section>