<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<br />
<div class="container">
    <div class="background">
        <div class="content">
            <div class="Login" align="center">
                <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate align="center">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" placeholder="Enter Email" name="email"
                                #email="ngModel" ngModel required minlength="2" maxlength="30" />
                        </div>
                        <div *ngIf="email.errors?.['required'] && email.touched" style="color: red;">Please Enter Email-Id
                        </div>
                        <div *ngIf="email.errors?.['minlength'] && email.touched" style="color: red;">Please Enter Atleast 2
                            Characters for Email</div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" placeholder="Enter Password" name="password"
                                #password="ngModel" ngModel required minlength="2" maxlength="8" />
                        </div>
                        <div *ngIf="password.errors?.['required'] && password.touched" style="color: red;">Please Enter Password
                        </div>
                        <div *ngIf="password.errors?.['minlength'] && password.touched" style="color: red;">Please Enter Atleast
                            2 Characters for Password</div>
                    </div>

                    <div class="form-group">
                        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (resolved)="onCaptchaResolved($event)">
                        </ngx-recaptcha2>
                    </div>

                    <button [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
                </form><br/>

                <p class="para">Don't have an account? <a routerLink="/register" >Register here</a></p>

                <!-- Registration Form (Initially hidden) -->
                <div *ngIf="showRegistrationForm">
                    <h2>Registration Form</h2>
                    <form #registrationForm="ngForm" (ngSubmit)="register(registrationForm.value)" novalidate
                        align="center">
                        <!-- Registration Form Inputs -->
                    </form>
                </div>
                <div id="google-btn"></div>
            </div>
        </div>
    </div>
</div>