.container {
    position: relative;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/../assets/Photos/WhatsApp Image 2024-02-01 at 2.57.17 PM (1).jpeg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.Login {
    backdrop-filter: blur(8px); /* Apply blur effect to the login form */
    background-color: rgba(255, 255, 255, 0.056); /* Add transparency to the form background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    max-width: 400px; /* Adjust as needed */
    margin: auto;
}
/* Add space between form elements */
.Login form .form-group {
    margin-bottom: 20px;
}

.para{
    color: black;
}