/* .about-section {
    padding: 80px 0;
    background-color: #f8f9fa;
  }
  
  .about-item {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .about-item h3 {
    color: #333;
  }
  
  .about-item p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
  }
  
  .about-item hr {
    border-top: 2px solid #ccc;
    width: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
   */