<div>
    <h1 class="text-center mt-5">Order Summary</h1>
    
    <div class="order-details-container mt-3">
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>Item Name</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartItems">
              <td>{{ item.name }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.price | currency:'INR':true }}</td>
              <td>{{ item.quantity * item.price | currency:'INR':true }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="total-price text-center">
      <h3>Total Price: ₹{{ totalAmount }}/-</h3>
    
      <!-- Button to place order -->
      <div class="order-button">
        <button class="btn btn-success" (click)="PayNow()">PayNow</button>
      </div>
    </div>
  </div>
