

  
  #carouselExampleAutoplaying{
    height: 90vh;
    width: 100vw;
    margin-top: 20px;
  }

  #carouselExampleAutoplaying img{
    height: 90vh;
    width: 100vw;
  }

  .instagram {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }
  .review {
    

    background-color: #333; 
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 30px;
  }
  
  .review-header {
    /* border-bottom: 1px solid #fff;
    margin-bottom: 10px; */
    border-bottom: 1px solid #555; /* Border color for review headers */
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-bottom: 30px;
  }
  
  .review-header h3 {
    margin-bottom: 0;
  }
  
  .review-item {
    margin-bottom: 20px;
  }
  .stars {
    color: #ffc107;
    margin-bottom: 10px;
  }
  
  .stars i {
    font-size: 1.2rem;
  }