<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let imageUrl of imageUrls; let i = index" [class.active]="i === 0">
      <img [src]="imageUrl" class="d-block w-100" alt="Slide {{ i + 1 }}">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center mt-5 text-white">Customer Reviews</h2>
      <div class="row justify-content-center mt-4">
        <div class="col-md-6">
          <div class="review">
            <div class="review-header">
              <h3 class="text-white">Google Reviews</h3>
            </div>
            <div class="review-body">
              <div class="review-item">
                <div class="stars">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star-half-alt text-warning"></i>
                </div>
                <p class="text-white">"Great service and affordable prices! Highly recommended!"</p>
              </div>
              <div class="review-item">
                <div class="stars">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="far fa-star text-warning"></i>
                </div>
                <p class="text-white">"Nice selection of cars. Easy booking process."</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="review">
            <div class="review-header">
              <h3 class="text-white">Facebook Reviews</h3>
            </div>
            <div class="review-body">
              <div class="review-item">
                <div class="stars">
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star-half-alt text-primary"></i>
                  <i class="far fa-star text-primary"></i>
                </div>
                <p class="text-white">"Excellent service! Will definitely rent from them again."</p>
              </div>
              <div class="review-item">
                <div class="stars">
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="far fa-star text-primary"></i>
                  <i class="far fa-star text-primary"></i>
                </div>
                <p class="text-white">"Decent prices and friendly staff."</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6 offset-md-3 text-center">
      <h1>We're here for you</h1>
      <p class="lead">Providing customer support in over 30 languages</p>
     
      <p>
        <i class="fas fa-comments"></i> 5 million+ reviews<br>
        By verified customers
      </p>
    </div>
  </div>
</div>

<footer class="bg-light text-center text-black mt-5">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="https://twitter.com/" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2b2b;" href="https://www.instagram.com/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(17, 16, 16, 0.2);">
    <p>© 2020 Copyright: 24/7Foodie Restaurant</p>
  </div>
</footer>
