.background {
  
    top: 10;
    left: 0;
    width: 100%;
    height: 110vh;
    background-image: url("/../assets/Photos/WhatsApp Image 2024-02-01 at 2.57.17 PM (1).jpeg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.container {
    position: relative;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.105); /* Transparent background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    margin-top: 3vh;
}

/* Style for form inputs and icons */
.input-group-addon {
    background-color: transparent;
    border: none;
    color: #333; /* Icon color */
}

.form-control {
    border-radius: 5px;
}

/* Additional styling for form validation error messages */
.error-message {
    color: red;
    margin-top: 5px;
}

/* Style for the submit button */
.btn-primary {
    background-color: #007bff; /* Primary button color */
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker shade on hover */
    border-color: #0056b3;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); /* Focus effect */
}

.para{
    color: black;
}

.glyphicon{
    color: #dce3ea;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
