<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="background">
    <div class="">
        <div class="container">
            <form #registrationForm="ngForm" (ngSubmit)="registerSubmit(registrationForm.value)" novalidate>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" placeholder="Enter Name" name="custName"
                            #custName="ngModel" ngModel required minlength="2" maxlength="30" />
                        <div *ngIf="registrationForm.controls['custName'].errors?.['required'] && registrationForm.controls['custName'].touched"
                            style="color: red;">Please Enter Customer Name
                        </div>
                        <div *ngIf="registrationForm.controls['custName'].errors?.['minlength'] && registrationForm.controls['custName'].touched"
                            style="color: red;">Please Enter Atleast 2 Characters for Customer Name
                        </div>
                    </div>
                    <br />
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <select class="form-control" placeholder="Select Gender" name="gender" #gender="ngModel" ngModel
                            required>
                            <option value="" disabled selected>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                        <div *ngIf="registrationForm.controls['gender'].errors?.['required'] && registrationForm.controls['gender'].touched"
                            style="color: red;">
                            Please select Gender
                        </div>
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        <select class="form-control" name="country" #country="ngModel" ngModel required>
                            <option value="" selected>Select Country</option>
                            <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}
                            </option>
                        </select>
                        <div *ngIf="registrationForm.controls['country'].errors?.['required'] && registrationForm.controls['country'].touched"
                            style="color: red;">
                            Please select Country
                        </div>

                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input type="text" class="form-control" placeholder="Enter Phone-No" name="phNumber"
                            [(ngModel)]="phNumber" required pattern="^(\+91)?[6-9]\d{9}$" minlength="10"
                            maxlength="13" />
                        <div *ngIf="registrationForm.controls['phNumber'].hasError('required') && registrationForm.controls['phNumber'].touched"
                            style="color: red;">
                            Please enter Phone Number
                        </div>
                        <div *ngIf="registrationForm.controls['phNumber'].hasError('pattern') && registrationForm.controls['phNumber'].touched"
                            style="color: red;">
                            Please Enter a Valid Phone Number
                        </div>
                    </div>

                </div>

                <br />

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="text" class="form-control" placeholder="Enter Email-Id" name="emailId" ngModel
                            required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" minlength="2"
                            maxlength="30" />
                        <div *ngIf="registrationForm.controls['emailId'].hasError('required') && registrationForm.controls['emailId'].touched"
                            style="color: red;">Please Enter Email-Id</div>
                        <div *ngIf="registrationForm.controls['emailId'].hasError('pattern') && registrationForm.controls['emailId'].touched"
                            style="color: red;">Please Enter a Valid Email-Id
                        </div>
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" placeholder="Enter Password" name="password" ngModel
                            required pattern="^(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[@$!%?&])[A-Za-z\d@$!%?&]{8,}$"
                            minlength="8" maxlength="8" />
                        <div *ngIf="registrationForm.controls['password'].hasError('required') && registrationForm.controls['password'].touched"
                            style="color: red;">Please Enter Password</div>
                        <div *ngIf="registrationForm.controls['password'].hasError('pattern') && registrationForm.controls['password'].touched"
                            style="color: red;">Please Enter a Valid Password (8 characters, 1 uppercase, 1 lowercase, 1
                            digit, 1
                            special character)</div>
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" placeholder="confirmPassword" name="confirmPassword"
                            [(ngModel)]="confirmPassword" required />
                        <div *ngIf="registrationForm.controls['confirmPassword'].hasError('required') && registrationForm.controls['confirmPassword'].touched"
                            style="color: red;">Please Enter Password</div>
                        <div *ngIf="(registrationForm.controls['confirmPassword'].value !== confirmPassword || !confirmPassword) && registrationForm.submitted"
                            style="color: red;">
                            Password and Confirm Password must be the same.
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <button type="submit" class="btn btn-primary">Register</button><br>
                    <p class="para">Already have an account? <a routerLink="/login">Login here</a></p>
                </div>


            </form>
        </div>

    </div>
</div>