<div align="center" class="container">
    <table class="table table-hover table-striped table-sm table-bordered">
        <thead>
            <tr align="center">
                <th class="bg-info text-white">Country</th>
                <th class="bg-info text-white">custId</th>
                <th class="bg-info text-white">custName</th>
                <th class="bg-info text-white">Gender</th>
                <th class="bg-info text-white">Email</th>
                <th class="bg-info text-white">Password</th>
                <th class="bg-info text-white">Phone Number</th>
                <th class="bg-info text-white" colspan="2" align="center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let cust of customers">
                <tr align="center">
                    <td>{{cust.country}}</td>
                    <td>{{cust.custId}}</td>
                    <td>{{cust.custname | gender:cust.gender | uppercase}}</td>
                    <td>{{cust.gender | lowercase}}</td>
                    <td>{{cust.email}}</td>
                    <td>{{cust.password}}</td>
                    <td>{{cust.phoneNumber}}</td>
                    <td>
                        <button *ngIf="!cust.isEditing" (click)="editCustomer(cust)">Edit</button>
                        <button *ngIf="cust.isEditing" (click)="updateCustomer(cust)">Save</button>
                    </td>
                    <td><button (click)="deleteCustomer(cust)">Delete</button></td>
                </tr>
                <tr *ngIf="cust.isEditing">
                    <td colspan="8">
                        <form (submit)="updateCustomer(cust)">
                            <label>Cust Name:</label>
                            <input type="text" [(ngModel)]="cust.custname" name="custname">
                            <label>Gender:</label>
                            <select [(ngModel)]="cust.gender" name="gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                            <label>Email:</label>
                            <input type="text" [(ngModel)]="cust.email" name="email" readonly>
                            <label>Password:</label>
                            <input type="password" [(ngModel)]="cust.password" name="password" readonly>
                            <label>Phone Number:</label>
                            <input type="text" [(ngModel)]="cust.phoneNumber" name="phoneNumber">
                            <button type="submit">Save</button>
                            <button type="button" (click)="cancelEdit(cust)">Cancel</button>
                        </form>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
